{# templates/city/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Enter a City{% endblock %}

{% block body %}
<div class="container mx-auto px-4">
    <h1 class="text-4xl font-bold mb-4 text-center text-blue-500">Enter a Finnish City for Daylight Data</h1>

    {{ form_start(form, {'attr': {'class': 'bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4'}}) }}

    {{ form_row(form.city, {
    'label': 'City Name',
    'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline', 'placeholder': 'Type the name of a Finnish city'}
    }) }}

    {{ form_row(form.city2, {
    'label': 'Second City Name',
    'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline', 'placeholder': 'Type the name of a Finnish city'}
    }) }}

    {{ form_end(form) }}
</div>
{% endblock %}