<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ vite_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {{ vite_entry_script_tags('app', { 'dependency': 'react' }) }}
        {% endblock %}
    </head>
    <body class="bg-lime-900">
        {% block body %}
        {% endblock %}
    </body>
</html>
